#navigation
{
    background-color : rgba(144, 235, 189, 0.973);
}
#BarsHolder
{
    margin-top:10px;
    margin-right:auto;
    margin-left:auto;
    
}

.container1
{
    padding-right:8%;
    padding-left:8%;
}

.bar
{
    margin:2px;
    float:left;
    width:8px;
    background-color:aqua;
    border-radius:4px;
}
